<div class="loading" *ngIf="loading">Recupero task...</div>
<div class="container" *ngIf="!loading">
  <form class="form" (submit)="aggiungiAttivita()">
    <label class="label" for="text">Lista della spesa</label>
    <input
      type="text"
      id="text"
      name="text"
      required
      [(ngModel)]="nuovaAttivitaText"
      class="input-bar"
    />

    <button class="btnSend" type="submit">Invia</button>
  </form>

  <ul class="lista">
    <li class="li" *ngFor="let info of infos; let i = index">
      <span>{{ getEmojiForFood(info.text) }} {{ getStatoAttivita(info) }}</span>

      <button class="btnRemove" routerLink="/completed" (click)="Attivita(i)">
        🛒
      </button>
      <button class="btnRemove2" (click)="eliminaAttivita(i)">✖</button>
    </li>
  </ul>
</div>
