<div class="loading" *ngIf="loading">Recupero task...</div>
<div class="container" *ngIf="!loading">
  <form class="form" (submit)="aggiungiAttivita()">
    <label class="label" for="text">Lista della spesa</label>
    <input
      type="text"
      id="text"
      name="text"
      required
      [(ngModel)]="nuovaAttivitaText"
    />

    <button class="btnSend" type="submit">Invia</button>
  </form>

  <ul class="lista">
    <li class="li" *ngFor="let info of infos; let i = index">
      {{ getStatoAttivita(info) }}
      <button
        class="btnRemove"
        routerLink="/completed"
        (click)="rimuoviAttivita(i)"
      >
        Rimuovi
      </button>
    </li>
  </ul>
</div>
